---
interface Props {
  product: Product;
}

const { product } = Astro.props;

export interface Product {
  title: string;
  thumbnail: string;
  titleLink: string;
  subTitle: string;
  summary: string;
  skills: string[];
}
---

<div id='product_card'>
  <img id='product_img' src={product.thumbnail} alt='プロダクトのサムネイル' />
  <div id='product_card_content'>
    <div id='product_card_title'>
      <a href={product.titleLink}>
        <p class='text-body'>{product.title}</p>
      </a>
      <!-- TODO: SP/PCどちらかのみの改行 -->
      <p class='text-detail'>
        {
          product.subTitle.split('<br>').map((elm) => {
            return (
              <>
                {elm}
                <br />
              </>
            );
          })
        }
      </p>
    </div>
    <p class='text-detail'>
      {
        product.summary.split('<br>').map((elm) => {
          return (
            <>
              {elm}
              <br />
            </>
          );
        })
      }
    </p>
    <div id='product_skill_icon_container'>
      {
        product.skills.map((skill) => {
          return <img src={skill} />;
        })
      }
    </div>
  </div>
</div>
<style>
  #product_card {
    width: 250px;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 2px 4px 4px rgba(00, 00, 00, 0.25);
    border: 1px solid var(--border);
  }

  #product_img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  #product_card_content {
    display: flex;
    padding: 10px;
    row-gap: 10px;
    flex-direction: column;
  }

  #product_card_title {
    display: flex;
    flex-direction: column;
  }

  #product_card_title .text-detail {
    margin-top: -3px;
  }

  #product_skill_icon_container {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
  }

  #product_skill_icon_container img {
    height: 20px;
    width: auto;
  }

  @media screen and (max-width: 600px) {
    #product_card {
      width: 38.46vw;
      box-shadow: 0.5vw 1.02vw 1.02vw rgba(00, 00, 00, 0.25);
    }

    #product_card_content {
      padding: 2.56vw;
      row-gap: 2.56vw;
    }

    #product_card_title .text-detail {
      margin-top: -1vw;
    }

    #product_skill_icon_container {
      gap: 1.28vw;
    }

    #product_skill_icon_container img {
      height: 5.12vw;
    }
  }
</style>
